# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Environment and virtual environment
.env
venv/
ENV/

# Distribution and packaging
build/
dist/
*.egg-info/

# Pytest
.cache/

# VS Code
.vscode/

# GitHub Actions
.github/
